body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    height: 150px;
  }

  .square-left, .square-right, .circle {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
  }

  .square-left {
    background-color: #0a06f3;
    border-radius: 10%
  }

  .circle {
    background-color: #ee0707;
    border-radius: 50%;
  }

  .square-right {
    background-color: #0a06f3;
    border-radius:  10px;
  }